services:
  portfolio:
    container_name: portfolio
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - CMS_SECRET=change-this-to-a-secure-secret-on-server
      - DEPLOYMENT_URL=https://your-domain.com # Set this to enable Secure cookies
      - DATABASE_URI=file:/app/db/sqlite.db
      - DB_DIR=/app/db
    volumes:
      - portfolio_db:/app/db
    # networks:
    #   - n8n-docker_default

volumes:
  portfolio_db:

    # networks:
    #   n8n-docker_default:
    #     external: true
